/* Living Area */
.livingSpaceDiv, .bedDiv, .roofDiv, .underBusDiv {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .livingSpace {
    width: 178px;
    height: 294px;
    position: relative;
    margin: 50px;
  }

  .wheelWell {
    height: 66px;
    width: 44px;
    position: absolute;
    bottom: 108px;
  }

  .leftWW {    
    left: 0;
  }
  
  .rightWW {
    right: 0;
  }

  .fuelNeck {
    height: 9px;
    width: 9px;
    position: absolute;
    bottom: 218px;
    left: 0;
  }

  .widthTxtLS, .widthTxtRoof {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .lengthTxtLS, .lengthTxtRoof {
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(-50%, -50%);
  }



/* Roof */
  .roof {
    width: 192px;
    height: 360px;
    position: relative;
    margin: 50px;
  }
  
  .hatch {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 112px;
  }

  .vent {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 309px;
    left: 50%;
    transform: translate(-50%, -50%);
  }




  /* Under bus */
  .underBus {
    width: 192px;
    height: 360px;
    position: relative;
    margin: 50px;
  }

  .livSp {
    position: absolute;
    bottom: 0;
    width: 192px;
    height: 294px;
  }

  .vertText {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  .frame {
    position: absolute;
    width: 10px;
    height: 360px;
    top: 0;    
  }
  .leftFrame { 
    left: 46px;
  }
  .rightFrame { 
    right: 46px;   
  }

  .axle {
    height: 10px;
    width: 78px;
    position: absolute;
    bottom: 135px;
    left: 57px;
  }

  .storageBox {
    width: 20px;
    height: 54px;
    position: absolute;
    right: 0px;
  }

  .frontBox {
    bottom: 210px
  }
  
  .rearBox {
    bottom: 30px;
  }

  .grayWater {
    background-color: rgba(128, 128, 128, 0.37);
    width: 32px;
    height: 112px;
  }

  .grayTankInput {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 58px;
    left: 14px;
  }
  .grayTankDrain {
    position: absolute;
    width: 6px;
    height: 8px;
    left: 14px;
  }

  .tailPipe {
    position: absolute;
    left: 0px;
    bottom: 70px;
    transform: rotate(-45deg);
    width: 75px;
  }
  .muffler {
    position: absolute;
    bottom: 94px;
    width: 65px;
    height: 30px;
    left: 50%;
    transform: translate(-50%);
  }

  .trans {
    padding-top: 10px;
  }

  .fuelTank {
    width: 30px;
    height: 94px;
    position: absolute;
    left: 57px;
    top: 55px
  }

  .rearFrame {
    position: absolute;
    bottom: 34px;
    width: 100px;
    height: 10px;
    left: 46px
  }

  .leafSprings {
    position: absolute;
    width: 8px;
    height: 16px;
    bottom: 175px;
  }
  .leftLS {    
    left: 37px;
  }
  .rightLS {
    right: 37px;
  }

  .cabLabel {
    position: absolute;
    top: 40px;
    left: -25px;
  } 
  .livingAreaLabel {
    position: absolute;
    top: 80px;
    left: -55px;
  }


/* Rear of bus */
.rearExterior {
    width: 348px;
    height: 380px;
    border-radius: 10px 10px 0 0;
    position: relative;
    font-size: 15px;
  }
  
  .rearDoor {
    width: 140px;
    height: 252px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);
    border-radius: 5px;
  }
  .rearDoorWindowLwr {
    width: 112px;
    height: 58px;
    position: absolute;
    bottom: 64px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
  }
  .rearDoorWindowUpr {
    width: 112px;
    height: 76px;
    position: absolute;
    bottom: 188px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
  }
  .rearDoorHandle {
    width: 30px;
    outline: solid 3px black;
    height: 1px;
    position: absolute;
    bottom: 152px;
    left: 140px;
  }
  
  .rearWindow {
    width: 72px;
    height: 72px;
    border-radius: 7px;
    position: absolute; 
}
  .leftWindow {   
    left: 15px;
    bottom: 184px;
  }
  
  .rightWindow {
    right: 15px;
    bottom: 184px;
  }
  
  .taillight, .turnlight, .stopLight, .backup {
    width: 20px;
    height: 20px;
    bottom: 132px;
    position: absolute;
  }
  .leftTL {    
    bottom: 96px;
    left: 25px;
   
  }
  .rightTL {
    bottom: 96px;
    right: 25px;
   
  }
  
  .leftTuL {
    left: 10px;
  }
  .rightTuL {
    right: 10px;
  }
  .leftSL {
    left: 35px;
  }
  .rightSL {
    right: 35px;
  }
  
  .leftBU {
    left: 60px;
  }
  .rightBU {
    right: 60px;
  }

  .bumper {
    position: absolute;
    bottom: 0;
    height: 34px;
    width: 100%;
  }

  .acEvaporator {
    width: 114px;
    height: 48px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
  }
