#root {
  max-width: 1280px;
  margin: 0 auto; 
  text-align: center;
}
.container {
  margin-top: 50px;
}


.busInteriorImg {
  max-width: 350px;
  margin: 10px;
}
.busInteriorVertImg {
  max-height: 400px;
  margin: 10px;
}

.marginLeft {
  margin-left: 150px;
}


.navHideBtn {
  position: absolute;
  left: 250px;
  top: 15px;
  z-index: 9;
}
.container {
  display: flex;
  justify-content: space-between;
  min-width: 70vw;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-top: 150px;
  
}

.outline {
  outline: solid black 1px;
}

.labelTxt {
  font-size: 10px;
}

.materialsVertImg {
  max-width: 200px;
}
.materialsHorzImg {
  max-height: 100px;
}
.materialsList {
  margin-top: 75px;
  display: flex;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

.alignRight {
  text-align: end;
  justify-content: end;
}

.descriptionTxt {
  padding: 75px 10px 10px 20px;
}

li {
  text-align: start;
}

.key {
  padding-top: 50px;
}

button {
  outline: solid 2px black;
}

.outline {
  outline: solid black 1px;
}

